<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--【软件设置】-->
			<!--软件主题,0=浅色主题，1=深色主题-->
			<add key="Theme" value="1"/>
			<!--语言-->
			<add key="Language" value="0"/>
			<!--检查更新,0=false，1=true-->
			<add key="AutoCheckUpdate" value="0"/>
			<!--开机自启,0=false，1=true-->
			<add key="AutoBoot" value="0"/>
			<!--关闭软件方式,0=直接退出，1=最小化到托盘-->
			<add key="CloseMode" value="0"/>
			<!--通知模式,0=软件内静默通知，1=弹窗通知，2=系统通知-->
			<add key="NotificationMode" value="0"/>
			<!--静默通知时间-->
			<add key="NotificationTime" value="5"/>
		<!--【数据收集设置】-->
			<!--数据收集模式,0=不建立数据库，1=建立数据库-->
			<add key="DataCollectionMode" value="1"/>
			<!--数据库位置,0=默认位置，其他值是存储地址-->
			<add key="DataStorageLoaction" value="0"/>
			<!--存储管理，是否保留一份，0=false,1=true-->
			<add key="StorageMode" value="0"/>
	</appSettings>
</configuration>